<header document="vm.document" iddict="vm.iddict"></header>

<div class="container" layout="row" layout-align="space-between start">

  <div ng-if="(vm.document.file_extension | lowercase) === 'pdf'">
    {{ loading }}
    <div class="wrapper">
      <h1>{{ vm.document.file_name }}</h1>
      <hr>
      <ng-pdf page=1>
        <canvas ng-class="canvas"></canvas>
      </ng-pdf>
      <button ng-click="goPrevious()"><span>&lt;</span></button>
      <button ng-click="goNext()"><span>&gt;</span></button>
      <span>Page: </span>
      <input type="text" min=1 ng-model="pageNum">
      <span> / {{ pageCount }} </span>
      &nbsp;&nbsp;
      <span>Document URL: </span>
      <input type="text" ng-init="pdfUrl=vm.document.url" ng-model="pdfUrl">
    </div>
  </div>

  <div style="float:left;" ng-if="(vm.document.file_extension | lowercase) !== 'pdf'">
    <h1>{{ vm.document.file_name }}</h1>
    <hr>
    <img ng-src="{{ vm.document.url }}" style="width:600px; height:670px;">
  </div>

  <div>
    <form ng-submit="submit()" ng-cloak>
      <h1>Document Type </h1>
      <hr>
      <md-radio-group tabindex="100"
                      ng-model="vm.document.new_document_type"
                      class="md-primary"
                      ng-change="vm.set_new_document_type()">
        <md-radio-button ng-value="d"
                         ng-repeat="d in vm.documentTypes">{{d}}
        </md-radio-button>
      </md-radio-group>
    </form>
    <md-divider></md-divider>
    <h4>Original Classification: {{vm.document.original_document_type}}</h4>
  </div>
</div>
