<div class="navbar navbar-default navbar-static-top">
  <div class="container" layout="row" flex>
    <div class="navbar-header" layout="row" layout-align="start center" flex>
      <a class="navbar-brand">
        <img src="assets/images/arup-c635dd6c97.svg" height="18px">
      </a>
      <a href="http://localhost:3000/" class="navbar-brand">DOCUMENT CLASSIFIER</a>
    </div>
    <div class="navbar-header" layout="row" layout-align="end center" ng-if="$ctrl.document">
      <md-button class="md-primary md-raised" ng-if="$ctrl.iddict[$ctrl.document._id].prev" ng-href="/{{$ctrl.iddict[$ctrl.document._id].prev}}">
        <span>Previous File</span>
      </md-button>
      <md-button class="md-primary md-raised" ng-if="$ctrl.iddict[$ctrl.document._id].next" ng-href="/{{$ctrl.iddict[$ctrl.document._id].next}}">
        <span>Next File</span>
      </md-button>
    </div>
  </div>
</div>
