<header></header>

<!--<div class="container">-->
  <!--<li ng-repeat="document in $ctrl.documents">-->
    <!--<a ng-href="http://localhost:3000/{{document._id}}"> {{document.url}} | {{document.original_document_type}} |-->
      <!--{{document.new_document_type}} </a>-->
  <!--</li>-->
<!--</div>-->

<div class="container">
  <table selected-items="mySelectedItems" tr-ng-grid="" items="$ctrl.documents" selection-mode="SingleRow" page-items="20">
    <thead>
    <tr>
      <th field-name="_id"
          display-name="Id"
          enable-filtering="true"
          enable-sorting="true"
          cell-width="1em"
          display-align="left">
      </th>
      <th field-name="url"
          display-name="File"
          enable-filtering="true"
          enable-sorting="true"
          cell-width="1em"
          display-align="left">
      </th>
      <th field-name="original_document_type"
          display-name="Original Document Type"
          enable-filtering="true"
          enable-sorting="true"
          cell-width="1em"
          display-align="left">
      </th>
      <th field-name="new_document_type"
          display-name="New Document Type"
          enable-filtering="true"
          enable-sorting="true"
          cell-width="1em"
          display-align="left">
      </th>
    </tr>
    </thead>
  </table>
</div>
